html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin: 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

* {margin: 0;padding: 0;border: 0;outline: 0;font-size: 100%;vertical-align: baseline;background: transparent;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat';
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 29px;
    color: #fff;
}

.wrapper {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

header {
    height: 100vh;
    width: auto;
    background-image: url(./assets/image-1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px 0;
}

h1,
h2,
h3,
.readMore,
.footerSect button {
    font-family: 'Iceberg';
    text-transform: uppercase;
    font-weight: 500;
}

h1 {
    clear: both;
    font-size: 7rem;
    line-height: 80px;
    text-align: center;
    max-width: 30%;
    margin: 140px auto 0;
}

h2 {
    font-size: 4.9rem;
}

h3 {
    font-size: 4rem;
    margin-bottom: 10px;
}

.readMore {
    font-size: 2.4rem;
}

nav ul {
    width: 35%;
    margin: 0 auto;
    text-align: center;
}

ul li {
    float: left;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 600;
    margin: 0px 5px 10px;
    width: calc(100% / 4 - 10px);
}

.navBar li a {
    padding: 10px 10px;
    text-decoration: 3px solid underline transparent;
    transition: all 0.2s ease-in-out;
}

.navBar li a:hover,
.navBar li a:focus {
    text-decoration: 3px solid underline #9200ff;
}

.hotCops {
    width: 38%;
    margin: 40px auto;
    text-align: center;
}

.hotCops a {
    font-size: 3.2rem;
    font-weight: 500;
    padding: 10px 25px;
    background-color: #9200ff;
    border: 4px solid transparent;
    transition: all 0.2s ease-in-out;
}

.hotCops a:hover,
.hotCops a:focus {
    color: #9200ff;
    background-color: #fff;
    border: 4px solid #9200ff;
}

.news {
    background-color: #0f0632;
}

/* TODO may want to come back and figure out better height props */
.newsTiles {
    float: left;
    width: 50%;
    height: 580px;
}

.newsText {
    padding: 150px 120px;
}

.newsText h2,
.newsText p,
.tickets h2,
.tickets p {
    margin-bottom: 30px;
}

.newsText a,
.tickets a {
    padding: 10px 20px;
    background-color: #9200ff;
    border: 4px solid transparent;
    transition: all 0.2s ease-in-out;
}

.newsText a:hover,
.newsText a:focus,
.tickets a:hover,
.tickets a:focus {
    background-color: #fff;
    border: 4px solid #9200ff;
    color: #9200ff;
}

.newsTiles img {
    width: 100%;
    height: 100%;
}

.tickets {
    clear: both;
    background-color: #08080b;
    padding: 100px 0;
}

.ticketImg {
    width: 28%;
    margin-right: 40px;
    float: left;
}

.ticketImg img {
    width: 100%;
}

.ticketText {
    float: right;
    width: calc(72% - 40px);
    padding: 15px 0;
}

.moreInfo {
    background-color: #3d0369;
    padding: 150px 0;
}

.iconContainer {
    width: 70%;
    margin: 0 auto;
}

.iconContainer ul li {
    width: calc(100% / 3 - 40px);
    margin: 0 10px;
}

.icon a {
    font-size: 2.6rem;
    letter-spacing: 2px;
    text-shadow: 0px 10px 4px transparent;
    transition: all 0.3s ease-in-out;
}

.icon a:hover,
.icon a:focus {
    text-shadow: 0px 10px 4px #0f0632;
    font-size: 3rem;
}

.icon i {
    display: block;
    font-size: 5rem;
    margin-bottom: 20px;
}

.instagram {
    background-color: #0f0632;
    padding: 100px 0;
    text-align: center;
}

.instagram h2 {
    margin-bottom: 100px;
}

.gramGal {
    width: calc(100% / 3 - 40px);
    margin: 0 20px;
    float: left;
}

.gramGal img {
    width: 100%;
}

footer {
    background-color: #3d0369;
    padding: 50px 0 0;
}

.footerMain {
    margin: 60px 20px 80px;
    line-height: 30px;
}

.footerSect {
    width: calc(100% / 2);
    float: left;
}

/* The bekiw cide is used to hide the label for sighted users but keep it accessible. I have used this snippet before but originally saw it on w3.org re: Labeling controls. Thank you to editors ERIC EGGERT & SHADI ABOU-ZAHRA. */

.hideThis {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.footerSect p.shrimpy {
    font-size: 1.5rem;
    font-weight: 500;
}

.footerSect input {
    background-color: #fff;
    color: rgb(68, 68, 68);
    width: 70%;
    font-size: 2.4rem;
    margin-top: 10px;
    padding: 10px;
    border: 4px solid #3d0369;
    transition: all 0.2s ease-in-out;
}

.footerSect input:hover,
.footerSect input:focus {
    border: 4px solid #9200ff;
}

.footerSect button {
    background-color: #9200ff;
    color: #fff;
    padding: 10px;
    border: 4px solid #3d0369;
    font-size: 2.4rem;
    transition: all 0.2s ease-in-out;
}

.footerSect button:hover,
.footerSect button:focus {
    background-color: #fff;
    color: #9200ff;
    border: 4px solid #9200ff;
    cursor: pointer;
    margin-bottom: 2px;
}

.bottom {
    background-color: #0f0632;
    text-align: center;
    font-size: 1.8rem;
}



/* TODO media queries and ADD HAMBURGER MENU  */